<div class="row">
  <img src="/images/icon.png" class="center-block banner-logo" />
  <h1 class="logo center-text">Best Salon</h1>
</div>

<div class="row">
  <img id="team-img" class="center-block" src="/images/team.jpg" />
</div>
