<div class="row">
  <h1 class="logo center-text"><img src="/images/icon.png" id="banner-logo" />Best Salon</h1>
</div>

<div class="row">
  <img id="team-img" class="center-block" src="/images/team.jpg" />
</div>
